*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: dodgerblue;
  --accent-color: fuchsia;
  --default-spacing: 1rem;
  --large-spacing: 3rem;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing);
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--large-spacing);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-section {
  background-color: var(--primary-color);
}

.home-section.important {
  background-color: var(--accent-color);
}
